.App {
  background-color: #3d3d3d;
  height: 1000px;
}
/* fonts */
.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.playfair-display-nav {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* fonts ----end */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffedcb;
  padding-top: 50px;
  padding-right: 400px;

}

.navbar-left h1 {
  margin: 0;
  padding-left: 400px;
}

.tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  color: #fff4e1;
  background-color: transparent;
  transition: color 0.3s ease;
}

.tab:hover {
  color: #ffb350;
}

.tab.active {
  color: #ffb350;
}

.navbar-right {
  margin-left: 20px;
}