.App {
  /* background-color: #3d3d3d; */
  background: linear-gradient(to bottom right, #3d3d3d, #6c757d);
  height: auto;
}
/* fonts */
.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.playfair-display-nav {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* fonts -----end */


/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-right: 400px;
  margin-bottom: 100px;
}

.navbar-left h1 {
  margin: 0;
  padding-left: 400px;
}

.navbar-left a {
  color: #ffedcb; 
  text-decoration: none; 
}

.tab {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  color: #fff4e1;
  background-color: transparent;
  transition: color 0.3s ease;
}

.tab:hover {
  color: #ffb350;
}

.tab.active {
  color: #ffb350;
}

.navbar-right {
  margin-left: 20px;
}
/* navbar -----end */

.afisha{
  padding-left: 400px;
  padding-right: 400px;
  font-size: 50px;
  font-stretch: expanded;
  color: #FFB830;
}

.premier{
  width: 650px;
  height: 500px;
  background-color: #FCEFE5;
  border-radius: 40px;
}

.premier-text{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #DF6618;
  padding-left: 30px;
  padding-top: 20px;
}